@import '../helper/mixins';

.carousel {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(20,20,20);
    user-select: none;

    &__title {
        font-family: 'Lato', sans-serif;
        color: white;
        margin-bottom: 0.3rem;

        align-self: center;
        width: 100%;
    }

    &__wrapper {
        position: relative;

        align-self: center;
        width: auto;
    }

    &__items {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;

        &__container {
            width: 225px;
            height: 350px;
            overflow: hidden;

            &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5),
            &:nth-child(6),&:nth-child(7) {
                display: none;
            }
            @media (max-height: 540px) {
                height: 225px;
            }
            @media (min-width: 540px) {
                &:nth-child(2) {
                    display: initial;
                }
            }
            @media (min-width: 800px) {
                &:nth-child(3) {
                    display: initial;
                }
            }
            @media (min-width: 1300px) {
                &:nth-child(4) {
                    display: initial;
                }
            }
            @media (min-width: 1600px) {
                &:nth-child(5) {
                    display: initial;
                }
            }
        }

        &__image {
            width: 100%;
            object-fit: cover;
            
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__btn {
        position: absolute;
        height: inherit;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        height: auto;

        @media (min-width: 321px) {
            font-size: 3rem;
        }
        @media (min-width: 541px) {
            font-size: 4rem;
        }
        @media (min-width: 1200px) {
            font-size: 5rem;
        }
        
        &.right {
            top: 50%;
            right: -40px;
            transform: translateY(-25%);

            @media (min-width: 640px) {
                right: -60px;
            }
            @media (min-width: 1200px) {
                right: -100px;
            }
        }
        &.left {
            top: 50%;
            left: -40px;
            transform: translateY(-25%);

            @media (min-width: 640px) {
                left: -60px;
            }
            @media (min-width: 1300px) {
                left: -100px;
            }
        }
    }
}

