$primary-color: #E50914;
$primary-background-color: #141414;
$header-text-focus: #ececec;
$header-text-no-focus: #a7a7a7;

$modal-text-color: rgb(177, 174, 174);
$modal-text-color-green: #429b61;
$modal-mt: 0.2rem;

$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;
