@import '../helper/mixins';

.modal {
    display: none;
    position: fixed;
    padding-top: 20%;
    z-index: 2;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    @media (orientation: landscape) and (min-width: 200px) {
        padding-top: 2%;
    }
    @media (orientation: landscape) and (min-width: 992px) {
        padding-top: 7%;
    }
    
    &__content {
        background-color: #17181a;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 85%;
        user-select: none;
        @media (orientation: landscape) and (min-width: 200px) {
            width: 95%;
        }
        @media (orientation: landscape) and (min-width: 800px) {
            width: 75%;
        }
        @media (orientation: landscape) and (min-width: 1200px) {
            width: 60%;
        }
    }

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        &__title {
            color: white;
            margin: 1.5rem 0.5rem 0.5rem 0.5rem;
            font-family: 'Lato', sans-serif;
            text-align: center;
            @media (orientation: landscape) and (min-width: 1200px) {
                font-size: 2rem;
            }
        }

        &__close {
            position: absolute;
            top: 5px;
            right: 5px;

            &__img {
                background-color: #8e9092;
                border-radius: 50%;
                width: 24px;
                height: 24px;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        @media (orientation: landscape) {
            flex-direction: row-reverse;
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (orientation: landscape) {
                width: 50%;
            }

        }
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (orientation: landscape) {
                width: 50%;
                margin-top: 2rem;
            }
        }

        &__plot {
            width: 90%;
            @include modal-text-grey(3, $weight: 400, $color:  rgb(223, 223, 223), $font: $font-roboto);

            @media (orientation: landscape) and (min-width: 1200px) {
                font-size: 1rem;
                margin: 0.5rem 0;
            }
        }

        &__country {
            margin-bottom: 0.5rem;
            @include modal-text-grey(1, $size: 0.9rem);
            @media (orientation: landscape) and (min-width: 1200px) {
                font-size: 1.2rem;
                margin-top: 0.5rem;
            }
        }

        &__genre {
            margin: 0.5rem 0;
            width: 90%;
            text-align: center;
            @include modal-text-grey(2);

            @media (orientation: landscape) and (min-width: 1200px) {
                font-size: 1.2rem;
            }
        }

        &__img {
            width: 50%;
            order: 2;
            max-width: 250px;
            @media (orientation: landscape) {
                height: 70%;
                width: auto;
                object-fit: cover;
            }
            @media (orientation: landscape) and (min-width: 1200px) {
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }
        &__info {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 0.3rem;
            margin-bottom: 0.8rem;
            order: 3;

            &>p {
                margin: 0 1rem;
                @include modal-text-grey(unset, $size: 0.9rem);

                &:nth-child(1) {
                    color:#429b61;
                }
                @media (orientation: landscape) and (min-width: 1200px) {
                    font-size: 1.2rem;
                    order: 1;
                }
            }
        }

        &__btn {
            width: 90%;
            max-width: 400px;
            padding: 0.3rem 0;
            position: relative;
            display:flex;
            justify-content: center;
            background-color: $primary-color;
            border-radius: 3px;
            order: 1;
            @media (orientation: landscape){
                margin: 1.5rem 0;
                order: 4;
            }

            &__text {
                margin-left: 1.5rem;
                @include modal-text-grey(unset, $color: rgb(223, 223, 223));

                @media (orientation: landscape) and (min-width: 1200px) {
                    font-size: 1.2rem;
                }
            }

            &__triangle {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                margin-right: 1.5rem;
                border-style: solid;
                border-width: 6px 0 6px 10.4px;
                border-color: transparent transparent transparent rgb(223, 223, 223);
            }
        }

        &__directors {
            @include modal-text(4,  rgb(177, 174, 174), 0.5rem);
            @include query-modal-text-1200;
        }

        &__details {
            order: 5;
            width: 90%;
        }

        &__summary {
            @include modal-text(unset);
            outline: none;
            @include query-modal-text-1200;
        }

        &__actors {
            @include modal-text(unset);
            @include query-modal-text-1200;

            &--landscape {
                @include modal-text(5);
                @include query-modal-text-1200;
            }
        }

        &__boxoffice__title {
            @include modal-text(6);
            @include query-modal-text-1200;
        }
        &__boxoffice__dollars {
            @include modal-text(unset, $modal-text-color-green);
            @include query-modal-text-1200;
        }
        &__rated {
            @include modal-text(7);
            @include query-modal-text-1200;
        }
    }
}

