<section class="modal">
    <div class="modal__content">
        <div class="modal__header">
            <h4 class="modal__header__title">Titre</h4>
            <div class="modal__header__close">
                <img class="modal__header__close__img" src="../static/img/cancel.png"  alt="close" />
            </div>
        </div>

        <div class="modal__body">
            <div class="modal__body__right">
                <p class="modal__body__country"></p>
                <img class="modal__body__img" alt="movie" />
                <div class="modal__body__info">
                    <p>rate</p>
                    <p>year</p>
                    <p>time</p>
                </div>
            </div>

            <div class="modal__body__left">
                <div class="modal__body__btn">
                    <div class="modal__body__btn__triangle"></div>
                    <div class="modal__body__btn__text">Play</div>
                </div>
                <p class="modal__body__genre"></p>
                <p class="modal__body__plot"></p>
                <p class="modal__body__directors"></p>
                <details class="modal__body__details">
                    <summary class="modal__body__summary">Actors:</summary>
                    <p class="modal__body__actors"></p>
                </details>
                <p class="modal__body__actors--landscape"></p>
                <p class="modal__body__boxoffice__title">
                    Worldwide gross income: <span class="modal__body__boxoffice__dollars"></span>
                </p>
                <p class="modal__body__rated"></p>
            </div>

        </div>
    </div>
</section>