<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JustStreamIt</title>

    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <section class='header'>
        <a class="header__link--brand" href="http://127.0.0.1:5000/">
            JustStreamIt
        </a>
        <div class="header__container-link">
            <a class="header__link" href="http://127.0.0.1:5000/">
                Accueil
            </a>
            <a class="header__link active" href="http://127.0.0.1:5000/categories">
                Catégories
            </a>
        </div>
    </section>

  </body>
  <script src="static/js/script.js"></script>
</html>
